<h1>Users</h1>

<FilterSidebar @on-reset={{perform this.resetFilter}} as |FS|>
<FS.Group @label='General' @expanded={{true}} >
  <FS.Label>
      Search
      <FS.Filter 
        @model='search'
        @selected={{this.search}}
        @on-change={{perform this.setSearchFilter}}
        data-test-filter-search
      />
  </FS.Label>
    {{#if this.currentUser.isSuperuser}}
      <FS.Label>
        Supervisor
        <FS.Filter data-test-filter-user>
          <UserSelection
            @user={{this.selectedSupervisor}}
            @onChange={{perform this.setModelFilter "supervisor"}}
            @queryOptions={{hash is_supervisor=1 active=1}}
            as |U|>
            <U.User @placeholder="Select supervisor..." />
          </UserSelection>
        </FS.Filter>
      </FS.Label>
    {{/if}}
    <FS.Label>
      Active
      <FS.Filter
        data-test-filter-active
        @model='button'
        @selected={{this.active}}
        @valuePath='value'
        @labelPath='label'
        @options={{array
          (hash value='' label='All')
          (hash value='1' label='Active')
          (hash value='0' label='Inactive')
        }}
        @on-change={{fn (mut this.active)}}
      />
    </FS.Label>
  </FS.Group>
</FilterSidebar>

<AsyncList @data={{this.data}} as |section data|>
  {{#if (eq section 'empty')}}
    <div class="empty">
      <div>
        {{fa-icon 'users'}}
        <h3>No users to display</h3>
        <p>Maybe try loosening your filters</p>
      </div>
    </div>
  {{else if (eq section 'body')}}
    <table class="table table--striped table--hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Percentage</th>
          <th>Worktime per day</th>
          <th>Current worktime balance</th>
        </tr>
      </thead>
      {{#vertical-collection data
        tagName           = 'tbody'
        estimateHeight    = 40
        bufferSize        = 10
        containerSelector = '.page-content--scroll'
      as |user|}}
        <tr>
          <td class={{unless user.isActive 'color-danger'}}>
            <LinkTo @route='users.edit' @model={{user.id}}>{{user.fullName}}</LinkTo>
          </td>
          {{#if user.activeEmployment}}
            <td>{{user.activeEmployment.percentage}}%</td>
            <td>{{format-duration user.activeEmployment.worktimePerDay false}}</td>
          {{else}}
            <td class={{unless user.isActive 'color-danger'}} colspan="2"><em>User has no active employment</em></td>
          {{/if}}
          <td>
            <span class="worktime-balance {{balance-highlight-class user.currentWorktimeBalance.balance}}">
              {{format-duration user.currentWorktimeBalance.balance false}}
            </span>
          </td>
        </tr>
      {{/vertical-collection}}
    </table>
  {{/if}}
</AsyncList>
